.wrapper {
  background-image: linear-gradient(122deg, #317bda -6%, #33c3c8);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.logo {
  margin: 30px 0 20px;
}

.rectangle {
  width: 375px;
  height: 45px;
  margin: 20px 0 20px;
  padding: 15px 0 14px 15px;
  border-radius: 3px;
  border: solid 1px #fff;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.footerLine {
  width: 100%;
  border: solid 1px #fff;
  opacity: 0.3;
}

.footer {
  white-space: nowrap;
  margin: 8px 569px 0 557px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 3.32;
  color: #fff;
}
