.wrapper {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.checkBox {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.notChecked {
  width: 12.5px;
  height: 12.5px;
  background-color: white;
  border-radius: 50%;
  border-color: #317bda;
  border-style: solid;
  border-width: 1.7px;
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.label {
  margin-left: 10px;
}
