.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.calculate {
  // width: 324px;
  width: 70%;
  height: 40px;
  margin-left: 27px;
  border-radius: 2px;
  border: solid 1px rgba(72, 72, 72, 0.2);
  background-color: #fff;
}

.label {
  width: 150px;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  color: var(--greyish-brown);
}
