body {
  @font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
      url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
      url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),
      url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  }
}
