.wrapper {
  width: 500px;
  height: 270px;
  padding: 60px 222px 60px 220px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.5);
  background-color: #fff;
  margin-top: 160px;
  z-index: 1;
}
