.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 350px;
  height: 332px;
  background-color: white;
  border-radius: 3px;
}

.mainText {
  width: 147px;
  height: 28px;
  margin: 0 81px 20px 66px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--blue-grey);
}

.underline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.passwordText {
  width: 124px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: #317bda;
  text-decoration: none;
}
